* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: solid black;
}

.boxes{
    border: 0.5px solid lightgray;
    padding: 0 0;
    margin: 0 0;
    
}

.hover{
    background-color: black;
}

#buttons{
    display: block;
    
}

#sketch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#controls{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 20px;
    margin-right: 50px;
}

#controls > * {
    margin-top: 10px;
}

body{
    overflow: hidden;
}

header > h1{
    margin: auto auto;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + #opaq {
    background: black !important; 
   

  }
  input:checked + .slider {
    background-color: #2196F3;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */

  }


  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }